<mapper namespace="com.ydh.redsheep.self_mybatis.dao.UserMapper">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="com.ydh.redsheep.self_mybatis.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="com.ydh.redsheep.self_mybatis.pojo.User" paramterType="com.ydh.redsheep.self_mybatis.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


</mapper>