<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ydh.redsheep.mybatis.mapper.UserMapper">
    <!--namespace : 名称空间：与id组成sql的唯一标识
        resultType： 表明返回值类型-->
    <cache></cache>

    <!--抽取sql片段-->
    <sql id="selectUser">
         select * from user
    </sql>


    <!--查询用户-->
    <select id="findAll" resultType="uSeR">
       <include refid="selectUser"></include>
    </select>

    <!--添加用户-->
    <!--parameterType：参数类型-->
    <insert id="saveUser" parameterType="user" >
        insert into user(username) values(#{username})
    </insert>

    <!--修改-->
    <update id="updateUser" parameterType="user">
        update user set username = #{username} where id = #{id}
    </update>

    <!--删除-->
    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{abc}
    </delete>

    <!--多条件组合查询：演示if-->
    <select id="findByCondition" parameterType="user" resultType="user">
        <include refid="selectUser"></include>
        <where>
        <if test="id !=null">
            and id = #{id}
        </if>
        <if test="username !=null">
            and username = #{username}
        </if>
        </where>

    </select>

    <!--多值查询：演示foreach-->
    <select id="findByIds" parameterType="list" resultType="user">
        <include refid="selectUser"></include>
        <where>
            <foreach collection="array" open="id in (" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>

    </select>

    <resultMap id="userMap" type="com.ydh.redsheep.mybatis.pojo.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
        <collection property="orderList" ofType="com.ydh.redsheep.mybatis.pojo.Order">
            <result column="oid" property="id"></result>
            <result column="ordertime" property="orderTime"></result>
            <result column="total" property="total"></result>
        </collection>
    </resultMap>
    <select id="findAllUserAndOrder" resultMap="userMap">
        select *,o.id oid from user u left join orders o on u.id=o.uid
    </select>

    <resultMap id="userRoleMap" type="com.ydh.redsheep.mybatis.pojo.User">
        <result property="id" column="userid"></result>
        <result property="username" column="username"></result>
        <collection property="roleList" ofType="com.ydh.redsheep.mybatis.pojo.Role">
            <result property="id" column="roleid"></result>
            <result property="roleName" column="roleName"></result>
            <result property="roleDesc" column="roleDesc"></result>
        </collection>
    </resultMap>

    <select id="findAllUserAndRole" resultMap="userRoleMap">
        select * from user u left join sys_user_role ur on u.id = ur.userid
                             left join sys_role r on r.id = ur.roleid
    </select>
    <select id="findUserById" resultType="user">
        select * from user where id = #{id}
    </select>

    <resultMap id="userMap2" type="com.ydh.redsheep.mybatis.pojo.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
        <!--
        fetchType="lazy" 懒加载策略
        fetchType="eager" 立即加载策略
        -->
        <collection property="orderList" ofType="com.ydh.redsheep.mybatis.pojo.Order"
                    column="id" select="com.ydh.redsheep.mybatis.mapper.OrderMapper.findOrderByUid">
        </collection>
    </resultMap>
    <select id="findUserByIdLazy" resultMap="userMap2">
        select * from user where id = #{id}
    </select>
    
    
</mapper>