<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydh.redsheep.springssm.mapper.AccountMapper">

    <select id="queryAccountList" resultType="com.ydh.redsheep.springssm.pojo.Account">
        select * from account
    </select>

</mapper>